<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/imgs/cv.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Enrico Sotelo</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/imgs/perfil.png" alt="Foto do Enrico">
            <h1>Enrico Sotelo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/enrico-sotelo-hourneaux-de-moura-b89533262/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/enricosotelo">
                    <i class="bi bi-github"></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/enricosotelo/">
                    <i class="bi bi-instagram"></i>
                </a>


            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#início"> <i class="bi bi-house-fill"></i>
                        Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"> <i class="bi bi-person-circle"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"> <i class="bi bi-card-checklist"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark-text"></i> Currículo</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"> <i class="bi bi-envelope-at-fill"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="início" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Enrico Sotelo</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante, amante de jogos e cristão.</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Clique para mais</a>
                </div>

            </div>


        </section>


        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Meu nome é Enrico Sotelo Hourneaux de Moura e atualmente estou cursando Análise e Desenvolvimento
                        de Sistemas. Com apenas 18 anos, já tive a oportunidade de trabalhar em outras áreas, mas agora
                        estou em busca do meu primeiro emprego na área de tecnologia.

                        Sou uma pessoa determinada e focada, sempre buscando alcançar meus objetivos. Comunico-me bem e
                        acredito que a comunicação é fundamental para o sucesso em qualquer área. Sou também uma pessoa
                        que valoriza ajudar os outros e acredito que essa é uma das maneiras mais nobres de se viver.

                        Outro aspecto importante sobre mim é que sou cristão e tenho a fé como parte importante da minha
                        vida. Acredito que essa visão de mundo me ajuda a ser uma pessoa mais compassiva e a ter empatia
                        pelas pessoas que estão ao meu redor.

                        Em resumo, sou um jovem dedicado, focado e comunicativo que está buscando crescer na carreira de
                        Análise e Desenvolvimento de Sistemas e, ao mesmo tempo, fazer a diferença na vida das pessoas
                        ao meu redor. </p>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/imgs/perfil.png" alt="Foto do Enrico">
                </div>
                <div class="col-md-8">
                    <h3>Estudante</h3>
                    <p>Atualmente estou estudando e descobrindo sobre como analisar e desenvolver sistemas na
                        Universidade de Marília ou UNIMAR.
                        Estou gostando principalmente do desenvolvimento back-end e da criação de projetos.</p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Data de nascimento: <span class="fw-lighter"> 07 de Outubro de 2004</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 18 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light"> Marília</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter"> São Paulo</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobbies: <span class="fw-lighter"> Jogar basquete e jogos online.</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">
                                        Trabalhei no supermercado tauste.
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Setor: <span class="fw-lighter">
                                        Frente de caixa, jovem aprendiz.
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Duração do contrato: <span class="fw-lighter">
                                        11 meses (2021-2022)
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Tenho interesse em crescer nessa área pois, gosto muito de tecnologia e utilizo computadores
                        desde os meus 6 anos de idade.
                    </p>
                </div>

            </div>

        </section>


        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Como um iniciante em análise e desenvolvimento de sistemas possuo algumas habilidades em
                    desenvolvimento, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu
                    acredito ter em cada uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">PYTHON</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%">50%</div>
                        </div>
                    </div>

                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">TRABALHO EM EQUIPE</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                        <p class="mt-3 mb-0">PROATIVIDADE</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">ORIENTAÇÃO A DETALHES</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">COMUNICAÇÃO</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                        <p class="mt-3 mb-0">EMPATIA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="99"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 99%">99%</div>
                        </div>
                        <p class="mt-3 mb-0">COMPROMETIMENTO</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%">100%</div>
                        </div>
                    </div>

                </div>
            </div>
            </div>


        </section>


        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Análise e desenvolvimento de sistemas</h4>
                            <h5>2023 - 2025</h5>
                            <p><em>Universidade de Marília (UNIMAR)</em></p>
                            <p>Tecnólogo em análise e desenvolvimento de sistemas, com conclusão em 2025.</p>
                        </div>



                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item">
                            <h4>Frente de caixa</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Supermercados Tauste</em></p>
                            <p>Contrato de 11 meses, jovem aprendiz.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Vendedor de feira</h4>
                            <h5>2019</h5>
                            <p><em>Autônomo</em></p>
                            <p>Trabalhei com meu pai vendendo alface em feira.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Dedetizador</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Dedetizadora Tradição (Marília-SP)</em></p>
                            <p>Tabalhei como freelancer em algumas dedetizações.</p>
                        </div>
                    </div>
                </div>


            </div>

        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"> Localização</i></h4>
                                <p>Marília, SP</p>
                                <div class="email">
                                    <h4><i class="bi bi-envelope"> Email</i></h4>
                                    <p>enricosotelo11@gmail.com</p>
                                </div>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.186949580176!2d-49.95968625950687!3d-22.195000512906702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bfd6e8baf4d2ef%3A0xda221e36eacefe18!2sAv.%20Rep%C3%BAblica%20-%20Palmital%2C%20Mar%C3%ADlia%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1683656293931!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Digite seu email">
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem"></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-outline-primary">Enviar mensagem</button>
                                </div>

                        </div>

                    </div>
                    </form>


                </div>
            </div>

            </div>
            </div>
        </section>

    </main>


    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>

</html>